@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --celeste: #A2D2FF;
    --crema: #FEF9EF;
    --rosa: #EA047E;
    --nude: #FFE7CC;
    --color-footer: #ea51a2;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

/* header */
.header_navbar,
.header_encabezado,
.section-categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.header_navbar{
    background-color: var(--celeste);
}

.header_navbar *{
    width: fit-content;
}

.header_navbar nav{
    display: flex;
    justify-content: flex-end;
}

.header_navbar img{
    width: 20rem;
}

@media (max-width: 992px) {
    header .row>*{
        margin-top: 0;
        width: 100%;
    }

    .header_navbar div{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .header_navbar nav{
        justify-content: center;
    }
}

.header_navbar nav a{
    font-size: 1.7rem;
    padding: 0.7rem;
    margin-left: 1rem;
    background-color: var(--crema);
    border-radius: 0.6rem;
    text-align: center;
}

.header_navbar nav a:hover{
    background-color: var(--rosa);
    color: var(--crema);
}

.header_encabezado{
    background-color: var(--nude);
    color: var(--rosa);
}

.header_encabezado span,
.header_encabezado h1{
    font-size: 3rem;
    font-weight: 600;
}

/* main home, upcoming and past events*/
.section-categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 0 5rem;
    margin: 3rem 0 2rem;
}

.box-categorias{
    width: fit-content;
}

.box-categorias div{
    display: inline-block;
}

.section-categorias label{
    margin: 0 1rem 0.4rem 0;
}

.d-flex{
    width: 30%;
}

.d-flex *{
    font-size: 1.2rem;
}

.form-control{
    line-height: 2.5;
}

.d-flex .btn{
    font-weight: 600;
    background-color: var(--celeste);
    color: var(--crema);
}

.d-flex .btn:hover{
    color: var(--crema);
    background-color: var(--rosa);
    border: 0.1rem solid var(--crema);
}

@media (max-width: 800px){
    .d-flex{
        width: 80%;
    }
}

@media (max-width: 650px) {
    .header_navbar nav a{
        font-size: 1.4rem;
        margin-left: 0.6rem;
    }

    .section-cards_evento{
        width: 60%;
        margin: auto;
    }
}

@media (max-width: 800px){
    .section-categorias{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buscador{
        margin-top: 1.5rem;
    }
}

.section-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.section-cards_evento{
    text-align: center;
    border-radius: 2rem;
    border: 0.3rem solid var(--celeste);
    background-color: var(--crema);
    padding: 2rem;
    margin: 2rem;
    font-size: 1.6rem;
}

.section-cards_evento img{
    border-radius: 1.6rem;
    width: 90%;
    height: 22vh;
}

.section-cards_evento h2,
.section-details_articulo h2{
    color: var(--rosa);
    font-size: 2.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.section-cards_evento p{
    height: 10vh;
    display: flex;
    align-items: center;
}

.section-cards_evento div:last-of-type{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-cards_evento span{
    font-weight: 600;
}

.section-cards_evento div:last-of-type a{
    border: 0.1rem solid var(--rosa);
    border-radius: 0.6rem;
    padding: 0.6rem;
    background-color: var(--nude);
}

/* main contact */
.formulario-contacto{
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    font-size: 1.5rem;
}

.formulario-contacto,
.row table{
    margin-top: 5rem;
}

.formulario-contacto label{
    font-weight: 600;
    color: var(--rosa);
}

.formulario-contacto input{
    margin: 0.2rem 0 2rem;
    padding: 0.4rem;
}

.formulario-contacto textarea{
    padding: 0.4rem;
}

.formulario-contacto button{
    margin-top: 2rem;
    align-self: flex-end;
    border-radius: 0.4rem;
    padding: 0.6rem;
    background-color: var(--crema);
    border: 0.2rem solid var(--celeste);
}

.formulario-contacto button:hover{
    background-color: var(--celeste);
    border: 0.2rem solid var(--crema);
}

/* main stats */
main table{
    margin: 5rem auto;
    background-color: var(--crema);
    border-collapse:separate;
}

th{
    background-color: var(--nude);
}

tr, th, td{
    border: 0.2rem solid var(--celeste);
    padding: 0.4rem;
}

table tr:nth-child(2) td,
table tr:nth-child(5) td,
table tr:nth-child(10) td{
    font-style: italic;
}

/* main details */
.section-details_articulo{
    margin: auto;
    display: flex;
    justify-content: center;
}

.section-details_articulo img{
    border-radius: 0.6rem;
}

.section-details_articulo div{
    margin-left: 3rem;
    border: 0.2rem solid var(--rosa);
    background-color: var(--crema);
    padding: 1rem 2rem;
    text-align: center;
}

.section-details_articulo p{
    font-size: 1.8rem;
}

/* footer */
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    background-color: var(--color-footer);
    color: var(--crema);
}

@media (min-width: 1000px){
    .footer-fixed{
        position: fixed;
        bottom: 0;
    }
}

footer i{
    margin-right: 1rem;
}

footer p{
    font-size: 1.8rem;
}

/* 
************* CONTINUAR LEYENDO...*************
.section-cards_evento p{
    margin: 1.6rem 0;
}

.section-cards_evento p button{
    border: none;
    font-style: italic;
    background-color: transparent;
    text-decoration: underline;
}

.textToShow{
    display: none;
}    